*, *::before, *::after {
    box-sizing: border-box;
    background-color: blanchedalmond;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.game-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 4px;
    row-gap: 4px;
    justify-items: center;
    align-items: center;
    padding-top: 100px;
    
}

.game-square {
    background-color: rgb(179, 192, 200);
    
  }

.game-square {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
    font-weight: 500;
}

.game-square:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  }